## Help your hedge fund manager!

You have two datasets at your disposal: `Balance_Sheet.xlsx` and `Income_Statement.xlsx`. Both these datasets have three columns in common:
- `"Company"`: The company's ticker name.
- `"comp_type"` The type of industry the company in question belongs to. It is either `"tech"` for companies in the technology industry, `"fmcg"` for companies in the fast-moving consumer goods industry, and `"real_est"` for companies in the real estate industry. 
- `"Year"`: The year the company's information is from.

The rest of the columns in the datasets contain information from the financial statement of the `"Company"` in question. Note that the columns in `Balance_Sheet.xlsx` only contain financial information from the balance sheet. Similarly, the columns in `Income_Statement.xlsx` only contain financial information from the income statement. The columns are named accordingly. For instance, the column `"Total Liab"` from `Balance_Sheet.xlsx` is the total liability.

In [59]:
# Import Modules
import numpy as np
import pandas as pd
import seaborn as sns

In [60]:
# Load Files
balance_sheet = pd.read_excel('data/Balance_Sheet.xlsx',index_col=0)
income_statement = pd.read_excel('data/Income_Statement.xlsx', index_col=0)

display(balance_sheet.head(), income_statement.head())

   Year comp_type  ...    Total Liab  Total Stockholder Equity
0  2019      tech  ...  248028000000               90488000000
1  2020      tech  ...  258549000000               65339000000
2  2021      tech  ...  287912000000               63090000000
3  2022      tech  ...  302083000000               50672000000
4  2019      tech  ...  184226000000              102330000000

[5 rows x 13 columns]

   Year comp_type  ... Total Operating Expenses  Total Revenue
0  2019      tech  ...             196244000000   260174000000
1  2020      tech  ...             208227000000   274515000000
2  2021      tech  ...             256868000000   365817000000
3  2022      tech  ...             274891000000   394328000000
4  2019      tech  ...              82884000000   125843000000

[5 rows x 8 columns]

In [61]:
# Merge DataFrames
df_ratios = balance_sheet.merge(income_statement, on=['Year','company','comp_type'], how='outer')
display(df_ratios.head())

   Year comp_type  ... Total Operating Expenses  Total Revenue
0  2019      tech  ...             196244000000   260174000000
1  2020      tech  ...             208227000000   274515000000
2  2021      tech  ...             256868000000   365817000000
3  2022      tech  ...             274891000000   394328000000
4  2019      tech  ...              82884000000   125843000000

[5 rows x 18 columns]

In [62]:
# Computing Ratios 'equity multiplier'
df_ratios["leverage_ratio"] = df_ratios["Total Assets"]/df_ratios["Total Stockholder Equity"]

# Compute operating marging ratio 'profitability_ratio'
df_ratios['profitability_ratio'] = (df_ratios['Total Revenue'] - df_ratios['Cost Of Goods Sold'])/df_ratios['Total Revenue']

In [63]:
# comp_type with lowest profit ratio
lowest_profitability = df_ratios.pivot_table(index="comp_type", values="profitability_ratio").reset_index().min()['comp_type']

# comp_type with highest profit ratio
highest_leverage = df_ratios.pivot_table(index="comp_type", values="leverage_ratio").reset_index().nlargest(n=1, columns='leverage_ratio')['comp_type'].values[0]

In [64]:
print(lowest_profitability, highest_leverage)

fmcg real_est

In [65]:
# leverage and profit ratios correlations
display(df_ratios[['leverage_ratio','profitability_ratio']].corr())

relationship = 'positive'

                     leverage_ratio  profitability_ratio
leverage_ratio             1.000000             0.049963
profitability_ratio        0.049963             1.000000